.route-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 20px;
  padding: 2%;
  background-color: rgb(224, 224, 224);
  justify-content: center;
}

.route-card {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid green;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.route-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.route-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-button {
  all: unset;
}

.icon-button-image {
  width: 32px;
  height: 32px;
  object-fit: contain;
  transition: transform 0.1s;
}

.icon-button:hover .icon-button-image {
  transform: scale(1.1);
}

.icon-button:hover {
  background-color: transparent;
}

.route-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.route-card-header h3 {
  font-size: 24px;
  margin: 0;
}

.route-card-body p {
  font-size: 14px;
  margin: 5px 0;
}
