.map-view-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.leaflet-container {
  height: 92.4vh;
  width: 80%;
}

.location-routes-comp {
  width: 20%;
  height: 92.4vh;
  overflow-y: auto;
}
